body {
    margin: 0%;
    font-family: "Montserrat", sans-serif;
}

nav {
    display: flex;
    position: static;
    top: 0;
    background-color: transparent;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: rgb(2, 2, 2);
    text-align: center;
    padding: 20px 22px;
    text-decoration: none;
    position: relative;
}

nav li a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #d4af37;
    transition: width 0.3s ease, left 0.3s ease;
}

nav li a:hover::before {
    width: 100%;
    left: 0;
}

.active {
    color: #d4af37;
}

#loginIcon img {
    height: 40px;
    vertical-align: middle;
}

#cartIcon img {
    height: 30px;
    vertical-align: middle;
}


.nav-middle {
    display: flex;
    gap: 15px;
}

.nav-right {
    display: flex;
    gap: 2px;
}




footer {
    display: grid;
    grid-template-areas: "explore collec cont update";
    grid-template-columns: 15% 15% 15% 55%;
    padding-top: 50px;
    padding-left: 100px;
    height: 300px;
    background-color: #2f2f2f;
    color: #eaeaea;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer a:hover {
    color: #d4af37;
}

.update {
    padding-left: 100px;
}

#updateEmail {
    height: 35px;
    width: 500px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#updateButton {
    height: 40px;
    width: 100px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#updateButton:hover {
    background-color: #d4af37;
    color: black;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
}

#copyrightIcon {
    height: 30px;
}

.rights {
    width: 500px;
}