.container_2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 30px;
    padding-bottom: 50px;
}

.item {
    width: 270px;
    height: 480px;
    padding-top: 5px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 242, 242);
    border-radius: 20px;
}

.item:hover {
    transform: scale(1.02);
    cursor: pointer;
    filter: drop-shadow(8px 8px 8px gray);
}

.item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: drop-shadow(8px 8px 8px gray);
}

.product-info {
    margin-top: 1px;
    text-align: left;
}

.product-name {
    font-size: 18px;
    margin-bottom: 5px;
}

.product-price {
    font-size: 16px;
    color: #333;
    margin-bottom: 10px;
}

.add-to-cart {
    height: 40px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

.add-to-cart:hover {
    background-color: #d4af37;
    color: #333;
}