h1 {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 50px;
    color: #2f2f2f;
}

.cart-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-content: center;
}

.cart-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
}

.cart-table {
    width: 50%;
    margin-right: 3%;
    min-width: 350px;
    flex-grow: 1;
}

.cart-table th,
.cart-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.product-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.product-info img {
    width: 50px;
    height: 50px;
    margin-right: 5px;
    border-radius: 5px;
    filter: drop-shadow(3px 3px 3px gray);
}


.qty-btn {
    padding: 5px 10px;
    border: none;
    background: #ddd;
    cursor: pointer;
    margin: 0 5px;
    border: 1px solid #b2b2b2;
}


.cart-summary {
    width: 35%;
    min-width: 250px;
    background: #fafafa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start;
}


.cart-summary p {
    margin: 10px 0;
    font-size: 16px;
}

.cart-summary a {
    color: red;
    text-decoration: none;
}

.address-btn{
    width: 70%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    font-family: "Montserrat", sans-serif;
}

.address-btn:hover {
    background: #d4af37;
    color: black;
}

.cart-summary .total {
    font-weight: bold;
    font-size: 18px;
}


.checkout-btn {
    width: 100%;
    padding: 10px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
}

.checkout-btn:hover {
    background: #d4af37;
    color: black;
}